body {
   margin: 0; 
}
.intro {
    color: lightcoral; 
    padding: 3% 0 1% 44%;
    text-align: right;
}
.ourteam {
    margin: 4% 0 4% 0;
    padding: 3% 0 1% 0;
    color: chartreuse;
    padding: 10px 0 10px 0;
    text-align: left;
    width: 40%;
}
.quotes {
    text-align: right;
    color: coral;
    font-weight: bold;
}
.products {
    margin: 0 0 4% 0;
    padding: 10px 0 40px 0;
    text-align: left;
    color: darkmagenta;
}
.intro p, intro h3{
    font-size: 66%;
}
.ourteam ol {
    list-style-type: none;
    margin: 25px 0 0 0;
    padding: 0;
    font-family: 'Comic Sans MS', 'Ink Free', 'MV Boli', 'Bradley Hand ITC', 'Kristen ITC', 'Papyrus';
    font-weight: bold;
    font-size: 56%;
}
.ourteam p {
    font-size: 60%;
}
.owner {
    display: inline-block;
    border: solid 2px red;
    padding: 1%;
    margin: 0 0 1% 0;
    background-color: rgb(204, 26, 26);
}
.product {
    display: inline-block;
    border: solid 3px lightblue;
    width: 50%;
    margin: 0 0 2% 0;
    text-align: left;
    color: antiquewhite;
}
.calc-icon {
    height: 28%;
    width: 28%;
    float: left;
}
.product h5 {
    display: inline-block;
    margin: 2px 0 0 0;
}
.product h4, .product h5 {
    margin: 0;
    font-size: 60%;
    font-family: 'Segoe Print', 'Segoe Script'; 
}
.product-download {
    border: solid 2px green;
    background-color: rgb(17, 117, 17);
    padding: 3px;
    margin: 0 0 0 2%;
    display: inline-block;
    color: white;
    font-weight: bold;
}
.product p {
    font-size: 50%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.aboutus {
    font-family: monospace;
    font-size: 200%;
    margin: 0 8% 0 8%;
}
.about {
    max-width: 1500px;
    margin: 0;
    background: url(images/darkbg.jpg);
    background-size: 200%;
}
.about-tefi {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkslategray;
    background-color: dimgray;
}
.tefi-banner {
    height: 50%;
    width: 50%;
    margin: 2%;
    padding: 0 0 0 0;
    border-radius: 30%;
}
header .container {
    max-width: 1000px;
    margin: 0 10% 0 10%;
}
footer .container {
    max-width: 1000px;
    margin: 1% 10% 0 10%;
}
header {
    background-color: lightcoral;
    height: 150px;
    margin: 0;
    line-height: 150px;
}
header a {
    color: wheat;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
#header-title {
    display: block;
    float: left;
    font-size: 20px;
    font-weight: bold;
}
#header-nav {
    display: block;
    float: right;
    margin: 0;
}
#header-nav li {
    display: inline;
    padding-left: 20px;
}
p {
    line-height: 1.2;
}
a {
    text-decoration: none;
}
footer {
    background-color: brown;
    line-height: 50px;
    height: 150px;
    padding: 50px 0 50px 0;
}
.column {
    line-height: 50px;
    vertical-align: top;
    display: inline-block;
    min-width: 100px;
    max-width: 800px;
}
.footer-logo {
    height: 100px;
    width: 100px;
    vertical-align: middle;
}
.col1 {
    width: 150px;
}
.col2 {
    width: 300px;
}
.col3 {
    width: 500px;
}
footer h4 {
    color: antiquewhite;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
footer p,footer a {
    color: darkturquoise;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
}
