body {
   margin: 0; 
}
.ourteam {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: black;
    font-family: cursive;
    font-weight: bold;
}
.owner {
    display: inline;
    border: solid 2px coral;
    padding: 8px;
    margin: 0 5px 0 0;
    background-color: chocolate;
}
.product {
    display: inline-block;
    border: solid 3px lightblue;
    width: 500px;
    margin: 2% 0 4% 0;
}
.calc-icon {
    height: 110px;
    width: 110px;
    float: left;
}
.calc h5 {
    display: inline-block;
    font-size: 21px;
    margin: 2px 0 0 0;
}
.calc-download {
    border: solid 2px green;
    background-color: green;
    padding: 3px;
    margin-left: 100px;
    display: inline-block;
    color: white;
    font-weight: bold;
}
article .container {
    max-width: 1000px;
    margin: 0 auto;
}
.tefi-crew {
    margin: 4% 0 4% 0;
    border-top: dotted;
}
.products {
    margin: 4% 0 4% 0;
    border-top: dotted;
}
header .container {
    max-width: 1000px;
    margin: 0 auto;
}
footer .container {
    max-width: 1000px;
    margin: 15px 100px 0 100px;
}
header {
    background-color: lightcoral;
    height: 150px;
    line-height: 150px;
}
header a {
    color: wheat;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
#header-title {
    display: block;
    float: left;
    font-size: 20px;
    font-weight: bold;
}
#header-nav {
    display: block;
    float: right;
    margin-top: 0;
}
#header-nav li {
    display: inline;
    padding-left: 20px;
}
article .content{
    
}
p {
    line-height: 1.5;
}
a {
    text-decoration: none;
}
footer {
    background-color: brown;
    line-height: 50px;
    height: 150px;
    padding: 50px 0;
    
}
.column {
    line-height: 50px;
    vertical-align: top;
    display: inline-block;
    min-width: 100px;
    max-width: 800px;
}
.column img {
    height: 100px;
    width: 100px;
    vertical-align: middle;
}
.col1 {
    width: 150px;
}
.col2 {
    width: 300px;
}
.col3 {
    width: 500px;
}
footer h4 {
    color: antiquewhite;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
footer p,footer a {
    color: darkturquoise;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
}
.about-author {
    margin: 0 auto;
    text-align: center;
    width: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkslategray;
}
